# Flutter/Dart related
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.dart_tool/
build/

# Android/Gradle related
.gradle/
build/
gradle-wrapper.jar
/captures/
/gradlew
/gradlew.bat
/local.properties

# Firebase related
google-services.json

# Keystore files
key.properties
**/*.keystore
**/*.jks

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#signing-the-app
